.almain
{
    width: 60%;
    background-color: #F2F1EB;
    height:91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px
}
.allmain
{
    width:100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}